---
import Facilities from "./Facilities.astro";
import { facilities } from "./facilities";

---

<h2 class="text-2xl font-semibold leading-8 tracking-normal">
    Facilities@TCET
</h2>
<div class="flex flex-col sm:flex-row gap-6 ">
    {
        facilities.map((facility) => (
            <Facilities
                key={facility.id}
                name={facility.name}
                Day={facility.Day}
                Time={facility.Time}
                Venue={facility.Venue}
                Register={facility.Register}
            />
        ))
    }
</div>
